Saved/
Intermediate/
DerivedDataCache/
Binaries/
Build/
*.sln
*.suo
*.opensdf
*.userprefs
*.tmp
*.log

*.pak
*.exe
*.dll
*.tmp
*.log

*.verse
*.tmp
*.user
!/VerseStarted/

.vproject/
*.vproject
*.json
*.package
